html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

:root {
  --main-blue: #00c2ff;
  --main-red: #ff172d;
  --main-teal: #0dbdb4;
  --dark-blue: #00164c;
  --dark: #181a1b;
  --grays: rgb(48, 52, 54);
  --html: #f16529;
  --css: #2862e9;
  --js: #f7df1e;
  --php: #7377ad;
  --sass: #f783ac;
  --soft-white: rgb(232, 230, 227);
  --black-glass: rgb(0 0 0 / 80%);
  --transition: cubic-bezier(0.77,0.2,0.05,1.0);
}

.navigation .slashes {
  color: var(--soft-white);
}

.newSec .slashes, .newSec hr {
  color: var(--main-red);
  border-color: var(--main-red) !important;
}

li.active a {
  color: #fff !important;
  font-weight: 600;
  -webkit-transition: 150ms var(--transition);
  transition: 150ms var(--transition);
}

.resumeMode, .resumeMode, .resumeMode.blueMode {
  background: var(--main-teal);
  color: var(--soft-white);
  -webkit-transition: 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.resumeMode:hover::before, .resumeMode.blueMode:hover::before {
  background: var(--dark-blue) !important;
  color: var(--soft-white);
  -webkit-transition: 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);
}

a[href="./"]:hover .slashes {
  color: #000 !important;
}

a[href="#Resume"] {
  padding: 0 15px;
  -webkit-transition: 150ms var(--transition);
  transition: 150ms var(--transition);
}

a[href="#Resume"].active {
  padding: 15px;
  -webkit-transition: 150ms var(--transition);
  transition: 150ms var(--transition);
  background: var(--dark-blue);
}

a[href="#Resume"].active:hover {
  -webkit-transition: 150ms var(--transition);
  transition: 150ms var(--transition);
  background: black;
}

.slashContainer a:hover .slashes {
  color: #fff !important;
}

.observe {
  -webkit-transition: 1000ms var(--transition);
  transition: 1000ms var(--transition);
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 1;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
  -webkit-transition: 1000ms var(--transition);
  transition: 1000ms var(--transition);
}

.overlay::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.05em;
}

.modal {
  background: var(--main-teal);
}

.modal .newDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1em;
}

.modal input {
  width: 100%;
  border-radius: 8px;
  background: var(--dark-blue);
  color: var(--soft-white);
  padding: 1em 0 1em 1em;
  font-family: 'Montserrat';
}

.modal input:focus-visible {
  outline: none;
  border-radius: 8px;
}

.modal a[href="#"] {
  color: var(--soft-white);
  text-decoration: none;
  text-align: center;
}

.inView {
  -webkit-animation: fadeIn 1s var(--transition);
          animation: fadeIn 1s var(--transition);
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.observe.notInView {
  opacity: 0;
}

.notInView text {
  -webkit-transition: 1000ms var(--transition);
  transition: 1000ms var(--transition);
  opacity: 0;
  /* animation: textAnimate3 3s ease-in-out reverse; */
}

.animationEnded text {
  display: none;
}

.slide.notInView {
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
}

.slide.notInView:nth-child(even) {
  -webkit-transform: translateX(300px);
          transform: translateX(300px);
}

.notInView {
  opacity: 0 !important;
  /* animation: slideLeft 3s ease-in-out reverse; */
}

.notInView:nth-child(even) {
  opacity: 0 !important;
  /* animation: slideRight 3s ease-in-out reverse; */
}

.inView {
  /* opacity: 0; */
  -webkit-animation: fadeIn 1s ease-in-out;
          animation: fadeIn 1s ease-in-out;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.inView:nth-child(even) {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.inView text {
  -webkit-animation: textAnimate3 2s ease-in-out;
          animation: textAnimate3 2s ease-in-out;
}

.slashes {
  color: var(--main-teal);
}

.opening-header .slashes {
  color: #000;
}

.waveBottom {
  height: 12em !important;
  bottom: 0;
}

.waveBottom svg path {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  fill: var(--main-teal) !important;
  opacity: 0.8 !important;
  stroke: none !important;
}

.pictureWaves {
  display: none;
  background: url(https://media4.giphy.com/media/Ib44RsTu9ZMtWeL1fC/giphy.gif?cid=ecf05e47o6bkk6lwu4zn9touzu49cw9yfdb4z6byrmshyr83&rid=giphy.gif&ct=g);
  overflow: hidden;
  background-size: 55%;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  overflow: visible;
  z-index: 0;
}

.pictureWaves .blackWaves path {
  stroke: var(--dark-blue);
  fill: var(--dark);
  -webkit-animation: rotate 5s linear infinite, strokeAnimation 3s ease-in-out infinite alternate;
          animation: rotate 5s linear infinite, strokeAnimation 3s ease-in-out infinite alternate;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.pictureWaves::after {
  content: '';
  background: url(https://raw.githubusercontent.com/strawhat19/Portfolio/e2ee5208e8617e4bd1689ef413616b1c4d9d3b99/assets/images/graphics/TextWrapped2.svg);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  animation: rotate 55s linear infinite reverse;
}

.Resume {
  background: var(--dark-blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: var(--soft-white);
  position: relative;
  padding-top: 175px !important;
  padding-bottom: 150px !important;
}

.Resume ::-moz-selection {
  background: var(--main-teal);
  color: var(--dark-blue);
}

.Resume ::selection {
  background: var(--main-teal);
  color: var(--dark-blue);
}

.Resume .vectorGraphicText {
  z-index: 1;
}

.Resume .vectorGraphicText text {
  stroke: var(--soft-white);
  fill: var(--soft-white);
  font-weight: 700;
  font-size: 150px;
  stroke-width: 0px;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-animation: textAnimate3 2s ease-in-out;
          animation: textAnimate3 2s ease-in-out;
}

@-webkit-keyframes textAnimate3 {
  0% {
    fill: transparent;
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 30%;
    stroke-width: 0;
  }
  35% {
    fill: transparent;
    stroke: var(--soft-white);
    stroke-dasharray: 50% 0;
    stroke-dashoffset: -30%;
    stroke-width: 1;
  }
  75% {
    fill: var(--soft-white);
    stroke-dasharray: 0 50%;
    stroke-dashoffset: -10%;
    stroke-width: 3;
  }
  100% {
    fill: var(--soft-white);
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 0%;
    stroke-width: 5;
  }
}

@keyframes textAnimate3 {
  0% {
    fill: transparent;
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 30%;
    stroke-width: 0;
  }
  35% {
    fill: transparent;
    stroke: var(--soft-white);
    stroke-dasharray: 50% 0;
    stroke-dashoffset: -30%;
    stroke-width: 1;
  }
  75% {
    fill: var(--soft-white);
    stroke-dasharray: 0 50%;
    stroke-dashoffset: -10%;
    stroke-width: 3;
  }
  100% {
    fill: var(--soft-white);
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 0%;
    stroke-width: 5;
  }
}

.Resume .waveAnimation {
  margin-top: -0.1em;
  position: absolute;
  left: 0;
  width: 200%;
  z-index: 0;
  background-size: contain;
  background-repeat: no-repeat !important;
  overflow: hidden;
  height: 100%;
  -webkit-animation: moveLeftRight 15s ease-in-out infinite alternate;
          animation: moveLeftRight 15s ease-in-out infinite alternate;
}

.Resume .waveAnimation .wave path {
  fill: var(--main-teal);
  opacity: 0.8;
  stroke: none;
}

@-webkit-keyframes moveLeftRight {
  0% {
    -webkit-transform: translateX(-12%);
            transform: translateX(-12%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes moveLeftRight {
  0% {
    -webkit-transform: translateX(-12%);
            transform: translateX(-12%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.Resume .waveAnimation2 {
  animation: moveLeftRight 30s ease-in-out infinite alternate-reverse;
}

.Resume .waveAnimation3 {
  -webkit-animation: moveLeftRight 20s ease-in-out infinite alternate;
          animation: moveLeftRight 20s ease-in-out infinite alternate;
}

.Resume hr {
  border-color: var(--main-teal);
}

.Resume svg:not(:root) {
  overflow: visible;
}

.Resume #map {
  width: 100%;
  height: 250px;
  border-radius: 20px;
  margin: 5em 0 0;
}

.Resume #couchAnimation {
  width: 100%;
  height: auto;
}

.Resume .modal {
  background: var(--main-teal);
  opacity: 0;
  -webkit-transition: 1000ms var(--transition);
  transition: 1000ms var(--transition);
}

.Resume #demo {
  padding: 70px 0px 50px;
}

.Resume #demoButton {
  color: var(--soft-white);
  position: relative;
  font-family: 'Montserrat';
  letter-spacing: 1.8px;
  font-weight: 600;
  background: var(--main-teal);
  border: none;
  outline: none;
  padding: 0px;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.Resume #demoButton .modalLink {
  color: var(--dark-blue);
  text-decoration: none;
  padding: 15px;
  line-height: 3em;
  -webkit-transition: 1000ms var(--transition);
  transition: 1000ms var(--transition);
}

.Resume #demoButton .modalLink:hover {
  color: var(--soft-white);
}

.Resume #demoButton:hover {
  cursor: pointer;
  background: #000;
  color: var(--soft-white);
  border: none;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.Resume #demoButton:active {
  background: #000;
  border: 2px inset var(--main-teal);
}

.Resume #demoButton::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background: var(--main-teal);
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.Resume #demoButton:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.newSec {
  background: #000;
}

.newSec .twoCol {
  width: 100%;
  grid-gap: 5em;
}

.Resume hr.longSep {
  width: 100%;
  margin-top: -1em;
  margin-bottom: 5em;
  z-index: 2;
}

.twoCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 1;
  grid-gap: 1em;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.twoCol .sideContent {
  font-size: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
}

.twoCol .sideContent p {
  font-size: 19px;
  font-weight: 500;
  line-height: 30px;
  -webkit-transition: 150ms var(--transition);
  transition: 150ms var(--transition);
}

@media (max-width: 480px) {
  .twoCol .sideContent p {
    font-size: 16px;
  }
}

.twoCol .sideContent .iconRowContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 1em 0 3em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-gap: 1em;
}

.twoCol .sideContent .iconRow {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: .3em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.twoCol .sideContent .iconRow .slashes {
  font-size: .8em;
}

@media (max-width: 1475px) {
  .twoCol {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-gap: 1em;
  }
  .twoCol .sideContent {
    text-align: justify;
  }
  .twoCol .iconRow {
    text-align: center;
  }
}

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes slideRight {
  0% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes slideLeft {
  0% {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.jquery-modal {
  -webkit-animation: fadeIn 1000ms var(--transition);
          animation: fadeIn 1000ms var(--transition);
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeOut {
  -webkit-animation: fadeOut 1000ms var(--transition);
          animation: fadeOut 1000ms var(--transition);
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes strokeAnimation {
  0% {
    stroke-width: 65px;
  }
  100% {
    stroke-width: 100px;
  }
}

@keyframes strokeAnimation {
  0% {
    stroke-width: 65px;
  }
  100% {
    stroke-width: 100px;
  }
}

@-webkit-keyframes strokeDance {
  0% {
    stroke-dasharray: 20px;
    stroke-dashoffset: 50%;
  }
  100% {
    stroke-dasharray: 5px;
    stroke-dashoffset: -20%;
  }
}

@keyframes strokeDance {
  0% {
    stroke-dasharray: 20px;
    stroke-dashoffset: 50%;
  }
  100% {
    stroke-dasharray: 5px;
    stroke-dashoffset: -20%;
  }
}

#About {
  background: var(--dark);
  position: relative;
  border-bottom: none;
}

#About .bio-content {
  position: relative;
  z-index: 1;
}

#About .wave path {
  fill: #000;
  opacity: 1;
  stroke: var(--main-teal);
  stroke-width: 2;
  fill-opacity: .9;
}

@keyframes moveLeftRight {
  0% {
    -webkit-transform: translateX(-12%);
            transform: translateX(-12%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

#About .waveAnimation {
  position: absolute;
  left: -2px;
  width: 200%;
  height: 100%;
  z-index: 0;
  background-size: contain;
  background-repeat: no-repeat !important;
  overflow: hidden;
  -webkit-animation: moveLeftRight 15s ease-in-out infinite alternate;
          animation: moveLeftRight 15s ease-in-out infinite alternate;
}

#About .waveAnimation2 {
  animation: moveLeftRight 30s ease-in-out infinite alternate-reverse;
}

#About .waveAnimation3 {
  -webkit-animation: moveLeftRight 20s ease-in-out infinite alternate;
          animation: moveLeftRight 20s ease-in-out infinite alternate;
}

#projectsBackground {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.1;
}

.appImageElement {
  max-width: 100%;
}

.goodMorningContainer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.goodMorningContainer hr {
  width: 100%;
}

.goodMorningContainer .header {
  text-align: center;
  width: 100% !important;
}

.goodMorningContainer .twoCol .sideContent p {
  max-width: 100% !important;
  text-align: center !important;
}

.goodMorningContainer img.goodMorningImage {
  max-width: 50% !important;
}

@media (min-width: 1474px) {
  .weatherAppContainer .sideContent {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-align: right;
  }
  .iconRowContainer {
    max-width: 25em;
  }
  .twoCol .sideContent p {
    max-width: 27em;
  }
  #weatherAppImage {
    width: 100%;
  }
  .weatherAppContent {
    width: 100%;
  }
  .iconRowContainer {
    max-width: 27em;
  }
}

@media (max-width: 1474px) {
  .appContainer .sideContent {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.weatherAppContainer, .codeQuizContainer {
  padding-top: 5em;
  padding-bottom: 0em;
}

.topRepoLink {
  font-weight: 700;
  font-size: 2em;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0em 0 1em;
}

#quizAppImage {
  width: 100%;
}

.contact-form .container {
  display: none;
}
/*# sourceMappingURL=resume.css.map */