// Resume SCSS

// Declaring Variables
$resume: #333;
$red: #ff172d;
$green: #00cc80;
$blue: #00c2ff;
$darkBlue: #00164c;

.Resume {
    background: $darkBlue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    #map {
        width: 100%;
        height: 100px;
    }
    #couchAnimation {
        width: 50%;
        height: auto;
    }
}
