
$resume: #333;

.Resume {
    width: 100%;
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#map {
    width: 30%;
    height: 100%;
}

#couchAnimation {
    width: 100%;
    height: 100%;
}
