@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Main Style Controller */


/* Variables */

:root {
    --main-blue: #00c2ff;
    --main-red: #ff172d;
    --main-green: #00cc80;
    --dark-blue: #00164c;
    --soft-white: rgb(232, 230, 227);
    --black-glass: rgb(0 0 0 / 50%);
    --grays: rgb(48, 52, 54);
}

html {
scroll-behavior: smooth;
}

body {
    background: #000;
    font-family: 'montserrat';
    color: var(--soft-white);
    width: 100vw;
    overflow-x: hidden;
    margin: 0 auto;
   box-sizing: border-box;
   width: 100vw;
}

/* Header Styling */

.opening-header {
    text-align: center;
    font-size: 75px;
    padding: 55px;
    margin: 0;
    background: linear-gradient(rgb(0 204 128 / 85%),rgb(0 120 75 / 0%)), url(./Images/Ocean-Stars.jpg);
    background-position: 50% 0%;
    background-attachment: fixed;
    position: sticky;
    top: 0;
    letter-spacing: 2px;
}

nav {
    background: var(--black-glass);
    position: -webkit-sticky;
    position: sticky;
 top: 0;
 border-top: 1px solid var(--grays);
 border-bottom: 1px solid var(--grays);
}

nav ul {
    display: flex;
    flex-direction: row;
 justify-content: center;
 padding: 15px;
 background: var(--black-glass);
 backdrop-filter: blur(2px);
 list-style-type: none;
 margin: 0;
 position: -webkit-sticky;
}

.nav-link a {
    padding: 0 15px;
    margin: 0 15px;
    text-decoration: none;
    color: var(--soft-white);
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-right: 1px solid var(--grays);
    border-left: 1px solid var(--grays);
    transition: 150ms ease-in-out;
}

.About a:hover {
    color: var(--soft-white);
    background: var(--main-green);
    padding: 15px;
    transition: 150ms ease-in-out;
}

.About.active a {
    color: var(--soft-white);
    background: var(--main-green);
    padding: 15px;
    transition: 150ms ease-in-out;
}

.About.active a:hover {
    color: var(--main-green);
    background: rgb(24, 26, 27);
    padding: 15px;
    transition: 150ms ease-in-out;
}

#Projects a {
    padding: 15px;
    color: #000;
    text-decoration: none;
    border: 4px inset var(--main-red) !important;
    margin: 10px auto;
    font-weight: 600;
    width: auto;
    max-width: 200px;
    max-height: 200px;
   
    transition: 150ms ease-in-out;
}

#Projects a:hover {
    color: #fff;
    transition: 150ms ease-in-out;
}

.project-link a {
    padding: 15px;
    border: 4px inset var(--main-red) !important;
    transition: 150ms ease-in-out;
}

.Projects a:hover {
    color: #fff;
    background: #ab0f1e;
    padding: 15px;
    transition: 150ms ease-in-out;
}

nav .Projects a:hover {
    border-right: 1px solid var(--grays);
    border-left: 1px solid var(--grays);
    transition: 150ms ease-in-out;
}

nav .Projects.active a {
    border-right: 1px solid var(--grays);
    border-left: 1px solid var(--grays);
    transition: 150ms ease-in-out;
}

nav .Projects.active a:hover {
    border-right: 1px solid var(--grays);
    border-left: 1px solid var(--grays);
    transition: 150ms ease-in-out;
}

nav .Projects.active a:hover {
    border-right: 1px solid var(--grays);
    border-left: 1px solid var(--grays);
    transition: 150ms ease-in-out;
}

.Projects.active a {
    color: var(--soft-white);
    background: var(--main-red);
    padding: 15px;
    transition: 150ms ease-in-out;
}

.Projects.active a:hover {
    color: var(--main-red);
    background: rgb(24, 26, 27);
    padding: 15px;
    transition: 150ms ease-in-out;
}

.project-link a {
    border: 4px inset var(--main-red) !important;
    box-shadow: 0 0 4px 0px black;
    transition: 150ms ease-in-out;
}

#Projects .project-link a:hover {
    color: #fff;
    border: 4px inset var(--main-red) !important;
    box-shadow: 0 0 4px 0px black;
    transition: 150ms ease-in-out;
}

.project-link a:hover {
    color: #fff;
    border: 4px inset var(--main-red) !important;
    box-shadow: 0 0 4px 0px black;
    transition: 150ms ease-in-out;
}

.project-link a:active {
    border: 4px inset var(--main-red) !important;
    transition: 150ms ease-in-out;
}

.Contact a:hover {
    color: var(--soft-white);
    background: var(--main-blue);
    padding: 15px;
    border-right: 1px solid var(--grays);
    border-left: 1px solid var(--grays);
    transition: 150ms ease-in-out;
}

.Contact.active a {
    color: var(--soft-white);
    background: var(--main-blue);
    padding: 15px;
    border-right: 1px solid var(--grays);
    border-left: 1px solid var(--grays);
    transition: 150ms ease-in-out;
}

.Contact.active a:hover {
    color: var(--main-blue);
    background: rgb(24, 26, 27);
    padding: 15px;
    border-right: 1px solid var(--grays);
    border-left: 1px solid var(--grays);
    transition: 150ms ease-in-out;
}

main {
    margin: 0 auto;
}

section {
    padding: 100px 200px;
}

h3 {
    margin: 0;
    padding: 15px;
    font-size: 28px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

h4 {
    font-size: 22px;
    text-align: center;
    letter-spacing: 2px;
    margin: 10px auto;
}

hr {
    width: 395px;
    border-width: 3px;
}



@media screen and (max-width: 992px) {

    section {
        padding: 100px 110px;
    }

}


#About {
    color: var(--soft-white);
    background-image: repeating-linear-gradient( 
        90deg
         , rgb(24 26 27) 1px, rgb(24, 26, 27) 2px, rgb(24, 26, 27) 213px);
    background-color: initial;
}

#About ::selection, #About hr {
    background: var(--main-green) !important;
    border-color: var(--main-green);
}

#Projects {
    background: repeating-linear-gradient(
        45deg
        , rgb(220, 220, 220) 1px, rgb(255, 255, 255) 2px, rgb(237 237 237) 213px);
        color: #000;
}

#Projects ::selection, #Projects hr {
    background: var(--main-red) !important;
    border-color: var(--main-red);
    color: #fff;
}

.header {
    display: block;
}

#Projects .header {
    text-align: right;
}

.content {
    display: flex;
    width: 100%;
    place-items: center;
    justify-content: space-between;
}

#About .content img {
    box-shadow: 6px 6px 0px 0px var(--main-green);
    border-radius: 100px;
    width: 20%;
}


.content p {
    letter-spacing: 2px;
    font-size: 19px;
    line-height: 1.8;
    padding: 35px;
    font-weight: 500;
    transition: 150ms ease-in-out;
}

#Projects hr {
    width: 375px;
    transition: 150ms ease-in-out;
}

#Projects .grid-row {
    column-gap: 50px;
    padding: 25px 0px;
    transition: 150ms ease-in-out; 
}

#Projects .box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    transition: 150ms ease-in-out;
}

#Projects .box h4 {
    text-align: center;
    transition: 150ms ease-in-out;
}

#Projects .box hr {
    width: 100%;
    transition: 150ms ease-in-out;
}

#Projects .content img {
    border-radius: 0px;
    width: auto;
    object-fit: contain;
    max-width: 200px;
    max-height: 200px;
    min-height: 200px;
    transition: 150ms ease-in-out;
}

#Projects .light-picture {
    mix-blend-mode: difference;
    transition: 150ms ease-in-out;
}

#Projects .piratechs-logo {
    filter: hue-rotate(17deg);
    transition: 150ms ease-in-out;
}

#Projects .total-asphalt-logo {
    filter: hue-rotate(183deg);
    transition: 150ms ease-in-out;
}

#Projects .light-logo-box .project-image:hover .total-asphalt-logo {
    mix-blend-mode: screen;
    filter: hue-rotate(354deg);
    transition: 150ms ease-in-out;
}

#Projects .light-logo-box .project-image:hover .piratechs-logo {
    mix-blend-mode: hard-light;
    filter: hue-rotate(169deg);
    transition: 150ms ease-in-out;
} 

a.project-link.project-image {
    transition: 300ms ease-in-out;
    border-radius: 10px;
    box-shadow: 0 0 9px #c1c1c1;
    min-width: 200px;
    min-height: 200px;
    align-items: center;
    text-align: center;
}

a.project-link.project-image:hover {
    border-radius: 10px;
    box-shadow: 0 0 9px 9px #dbdbdb;
    transition: 300ms ease-in-out;
}

/* Laptops */

@media screen and (min-width: 1501px) {

    #About .content p {
        padding: 0 0 35px 70px;
        border-left: 5px inset var(--main-green);
        border-bottom: 5px inset var(--main-green);
        width: 69%;
        transition: 150ms ease-in-out;
    }

}

@media screen and (max-width: 1500px) {

    .header,  #Projects .header {
        text-align: center;
        max-width: 700px;
        margin: 0 auto;
        transition: 150ms ease-in-out;
    }

    hr {
        width: 395px;
        float: none !important;
        transition: 150ms ease-in-out;
    }

    .content {
        display: flex;
        padding: 35px 0px;
       flex-wrap: wrap;
       transition: 150ms ease-in-out;
    }

    #About .content {
        display: flex;
        flex-direction: column;
        transition: 150ms ease-in-out;
    }

    .content p {
    padding: 35px 0px;
    order: 2;
    text-align: center;
    text-transform: uppercase;
    transition: 150ms ease-in-out;
    }

    #About .content img {
        min-height: 400px;
        max-height: 400px;
        width: auto;
        margin: 0 auto;
        transition: 150ms ease-in-out;
    }

    #Projects .grid-row {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 0px;
        transition: 150ms ease-in-out;
    }

    .grid-row .box {
        width: 50%;
        flex-direction: column;
        flex-wrap: wrap;
        transition: 150ms ease-in-out;
    }

    #Projects .box h4 {
      margin: 25px 0px;
      transition: 150ms ease-in-out;
    }

    #Projects .box hr {
        width: 100%;
        max-width: 300px;
        transition: 150ms ease-in-out;
    }

    #Projects .content img {
        margin: 0 auto;
        border-radius: 0px;
        width: 100%;
        transition: 150ms ease-in-out;
    }

    a.project-link {
        color: #fff;
        font-weight: 600;
        letter-spacing: 1px;
        text-align: center;
        margin: 35px auto;
        padding: 15px;
        text-decoration: none;
        border: 4px inset var(--main-red);
        transition: 150ms ease-in-out;
    }

    a.project-image {
        min-width: 200px;
    }

}

#Projects .dapLogo {
    animation: scaleUp 5000ms ease-in-out infinite alternate;
    position: relative;
    transition: 5000ms ease-in-out;
}

@keyframes scaleUp {
    0% {
        transform: rotate3d(0, 0, 0, 0deg);
    }
    100% {
        transform: rotate3d(0, 1, 0, 360deg);
    }
}

#Projects .dapLogo::before {
    background-image: initial;
    background-color: transparent;
    border: 2px solid #bbe3b5;
}

#Projects .dapLogo::before {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid #bbe3b5;
    border-radius: 100px;
    transform: scale(1.1);
    transform-origin: center;
    display: block;
    /* animation: borderSpin 5000ms ease-in-out infinite alternate; */
    transition: 5000ms ease-in-out;
}

/* XL - Large Breakpoint */

@media screen and (max-width:1200px) {


}

#Contact {
    /* background: repeating-linear-gradient(90deg, var(--main-blue) 1px, #00164c 2px 213px); */
    background-image: repeating-linear-gradient( 
45deg
 , rgb(44, 47, 49) 1px, rgb(24, 26, 27) 2px, rgb(34, 37, 38) 213px);
}

#Contact ::selection, #Contact hr {
    background: var(--main-blue) !important;
    border-color: var(--main-blue);
    color: #000;
}

footer {
    padding: 100px 300px;
    display: flex;
    flex-direction: column;
    place-items: center;
    background: black;
}

#demo {
    padding: 20PX 0px 0px;
}

.buttonAnimationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#insertName {
    position: relative;
    color: #ffffff;
}

#insertName::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -4px;
    background: var(--main-blue);
    transform-origin: 0% 100%;
    animation: underlineLeft 1000ms ease-in-out;
    animation-iteration-count: 1;
    transition: 150ms ease-in-out;
}

#insertName:hover::after {
    transform-origin: 0% 100%;
    animation: underlineLeft 1000ms ease-in-out infinite alternate;
    cursor: pointer;
    transition: 150ms ease-in-out;
}

@keyframes underlineLeft {
    0% {
        transform: scale(0,1);
    }
    100% {
        transform: scale(1,1);
    }
}

#demoButton {
    color: #fff;
    position: relative;
    font-family: 'Montserrat';
    letter-spacing: 1.8px;
    background: var(--dark-blue);
    outline: none;
    border: none;
    padding: 15px;
    transition: 1000ms ease-in-out;
}

#demoButton::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background: var(--main-blue);
    transform: scale(0,1);
    transform-origin: 0% 100%;
    transition: 1000ms ease-in-out;
}

#demoButton:hover::after {
    transform: scale(1, 1);
    transition: 1000ms ease-in-out;
}

#demoButton:hover {
    cursor: pointer;
    background: #000;
    border: none;
    transition: 1000ms ease-in-out;
}

#demoButton:active {
    background: var(--dark-blue);
    border: 2px inset var(--main-blue);
}

#footer-text {
    text-transform: uppercase;
}

/* Scroll to Top Button CSS */

#topButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    outline: none !important;
    background: rgb(0 120 75 / 80%);
    border: none !important;
    color: var(--soft-white);
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 18px;
    font-size: 'montserrat';
    font-weight: 800;
    transform: rotate(-90deg);
    backdrop-filter: blur(2px);
    animation: fadeIn 300ms ease-in-out;
    transition: 300ms ease-in-out;
}
  
#topButton:hover {
    background-color: rgb(0 120 75 / 80%);
    border-color: var(--main-green);
    color: #fff;
    transition: 300ms ease-in-out;
}

#topButton.redMode {
       background: rgb(88 0 8 / 80%);
    color: var(--soft-white);
    transition: 300ms ease-in-out;
}
  
#topButton.redMode:hover {
    color: #fff;
    background: rgb(88 0 8 / 80%);
          transition: 300ms ease-in-out;
}

#topButton.blueMode {
        background: rgb(0 22 76 / 80%);
    color: var(--soft-white);
    transition: 300ms ease-in-out;
}
  
#topButton.blueMode:hover {
    color: #fff;
    background-color: rgb(0 22 76 / 80%);
            transition: 300ms ease-in-out;
}

    #topButton:active {
        background: rgb(0 0 0 / 50%);
        
        box-shadow: inset 0px 0px 3px rgb(0 0 0 / 80%);
        color: var(--main-blue);
        transition: 150ms ease-in-out;
    }

/* Fade In Animation */

@keyframes fadeIn {

    0% {
        opacity: 0;
        transition: 300ms ease-in-out;
    }

    100% {
        opacity: 1;
        transition: 300ms ease-in-out;
    }

}

  /* Scroll Bar CSS */

  ::scrollbar {
    background-color: #202324;
    color: #Aba499;
}

  ::scrollbar-corner {
    background-color: #181a1b;
}

  ::scrollbar-thumb {
    background-color: #454a4d;
}

  ::-webkit-scrollbar {
    background-color: #202324;
    color: #Aba499;
}

  ::-webkit-scrollbar-corner {
    background-color: #181a1b;
}

  ::-webkit-scrollbar-thumb {
    background-color: #454a4d;
}

/* Larger iPads and Tablets */

@media screen and (max-width: 992px) {

    #Projects .box h4 {
        font-size: 18px;
        transition: 150ms ease-in-out;
    }

    #Projects a {
        font-size: 12px;
    }

   footer {
    padding: 100px 30px;
   }

}

/* iPhone and iPad */

@media screen and (max-width: 768px) {

    section {
        padding: 40px;
    }

    .opening-header {
    font-size: 45px;
    }

    #Projects .grid-row {
        flex-direction: column;
    }

}


/* Smaller Screens */

@media screen and (max-width:500px) {

    h3 {
        padding: 0px;
        font-size: 25px;
    }

    hr {
        border-width: 1px;
    }


}

