/* Main Style Controller */

html {
    background: linear-gradient(
        0deg
        , #000921, #06045c);
scroll-behavior: smooth;

}

body {
    background: linear-gradient( 
        0deg
         , #000921, #02184a);
    font-family: 'montserrat';
    color: #fff;
    width: 100vw;
    overflow-x: hidden;
    margin: 0 auto;
   
}

/* Header Styling */

.opening-header {
    text-align: center;
    font-size: 75px;
    padding: 55px;
    margin: 0;
    background: url(https://cdn.pixabay.com/photo/2018/08/14/13/23/ocean-3605547_960_720.jpg);
    display: block;
}

nav {
    position: -webkit-sticky;
    position: sticky;
 top: 0px;
 border-top: 1px solid #fff;
 border-bottom: 1px solid #fff;
}

nav ul {
    display: flex;
    flex-direction: row;
 justify-content: center;
 padding: 30px;
 background: linear-gradient(#222937, #011748);
 list-style-type: none;
 margin: 0;
 
}

.nav-link a {
    padding: 0 15px;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    transition: 300ms ease-in-out;
}

.nav-link a:hover {
    color: #ff172d;
    transition: 300ms ease-in-out;
}

main {
    height: 9000px;
}