@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Main Style Controller */

:root {
    --main-blue: #00c2ff;
    --main-red: #ff172d;
    --main-green: #00cc80;
    --dark-blue: #00164c;
}

html {
scroll-behavior: smooth;
}

::selection {
    background: var(--main-blue);
}

body {
    background: #00164c;
    font-family: 'montserrat';
    color: #fff;
    width: 100vw;
    overflow-x: hidden;
    margin: 0 auto;
   box-sizing: border-box;
}

/* Header Styling */

.opening-header {
    text-align: center;
    font-size: 75px;
    padding: 55px;
    margin: 0;
    background: url(./Images/Ocean-Stars.jpg);
    background-position: 50% 0%;
    background-attachment: fixed;
    position: sticky;
    top: 0;
    letter-spacing: 2px;
}

nav {
    position: -webkit-sticky;
    position: sticky;
 top: 0;
 border-top: 1px solid #fff;
 border-bottom: 1px solid #fff;
}

nav ul {
    display: flex;
    flex-direction: row;
 justify-content: center;
 padding: 15px;
 /* background: linear-gradient(#000000, #011748); */
 background: rgb(0 0 0 / 50%);
 backdrop-filter: blur(2px);
 list-style-type: none;
 margin: 0;
 position: -webkit-sticky;
}

.nav-link a {
    padding: 0 15px;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    transition: 150ms ease-in-out;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}

.about a:hover {
    color: #fff;
    background: var(--main-green);
    transition: 150ms ease-in-out;
    padding: 15px;
    
}

.about.active a {
    color: #fff;
    background: var(--main-green);
    transition: 150ms ease-in-out;
    padding: 15px;
    
}

.about.active a:hover {
    color: var(--main-green);
    background: #fff;
    transition: 150ms ease-in-out;
    padding: 15px;
    
}

.projects a:hover {
    color: #fff;
    background: var(--main-red);
    transition: 150ms ease-in-out;
    padding: 15px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}

.projects.active a {
    color: #fff;
    background: var(--main-red);
    transition: 150ms ease-in-out;
    padding: 15px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}

.projects.active a:hover {
    color: var(--main-red);
    background: #fff;
    transition: 150ms ease-in-out;
    padding: 15px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}

.contact a:hover {
    color: #fff;
    background: var(--main-blue);
    transition: 150ms ease-in-out;
    padding: 15px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}

.contact.active a {
    color: #fff;
    background: var(--main-blue);
    transition: 150ms ease-in-out;
    padding: 15px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}

.contact.active a:hover {
    color: var(--main-blue);
    background: #fff;
    transition: 150ms ease-in-out;
    padding: 15px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}

main {
    margin: 0 auto;
}

section {
    padding: 100px 200px;
}

@media screen and (max-width: 992px) {

    section {
        padding: 100px 110px;
    }

}


    h3 {
        letter-spacing: 5px;
    }

    h4 {
        font-size: 25px;
    }


hr {
    width: 29.75%;
}

#about {
    color: black;
    background: repeating-linear-gradient(
90deg
, #e5e5e5 1px, white 2px 205px);
}

#about ::selection, #about hr {
    background: var(--main-green);
    border-color: var(--main-green);
}

#projects {
    background: repeating-linear-gradient( 
        90deg
         , var(--dark-blue) 1px, #5e79bb 2px 205px);
}

#projects ::selection, #projects hr {
    background: var(--main-red);
    border-color: var(--main-red);
}


.header {
    display: block;
}

#projects .header {
    text-align: right;
}

.bio {
    display: flex;
    width: 100%;
    place-items: center;
    padding: 35px;
    
}

.bio img {
    border-radius: 100%;
    width: 20%;
}

.bio p {
    letter-spacing: 2px;
    font-size: 19px;
    padding: 35px;
}

@media screen and (max-width:1200px) {

    .header,  #projects .header {
        text-align: center;
        
    }

    hr {
        width: 100%;
        margin-top: 35px;
    }

    .bio {
        padding: 35px 0px;
       flex-wrap: wrap;
    }

    .bio img {
        width: 55%;
        min-width: 240px;
        margin: 0 auto;
    }

    .bio p {
    padding: 35px 0px;
    order: 2;
    }

}

#contact {
    background: repeating-linear-gradient(90deg, var(--main-blue) 1px, #00164c 2px 205px);
}

#contact ::selection, #contact hr {
    background: var(--main-blue);
    border-color: var(--main-blue);
}

footer {
    padding: 100px 300px;
    display: flex;
    flex-direction: column;
    place-items: center;
    background: black;
}